iOSUILibDemo.xcodeproj
iOSUILib/iOSUILib.xcodeproj/xcuserdata/bachpx1.xcuserdatad/xcschemes/iOSUILib.xcscheme
iOSUILib/iOSUILib.xcodeproj/xcuserdata/bachpx1.xcuserdatad/xcschemes/xcschememanagement.plist
iOSUILibDemo/TestTextFieldViewController.h
iOSUILibDemo/TestTextFieldViewController.m
iOSUILibDemo/TestTextFieldViewController.xib
MaterialControls/libMaterialControls-arm64.a
MaterialControls/libMaterialControls-armv7.a
MaterialControls/libMaterialControls-i386.a
MaterialControls/libMaterialControls.a
MaterialControls/Binding
MaterialControls/sharpie-build
MaterialControls.Sample/MaterialControls.Sample.xcodeproj/xcuserdata/Cameron.xcuserdatad/xcschemes/MaterialControls.Sample.xcscheme
MaterialControls.Sample/MaterialControls.Sample.xcodeproj/xcuserdata/Cameron.xcuserdatad/xcschemes/xcschememanagement.plist
MaterialControls.xcworkspace/xcuserdata/Cameron.xcuserdatad/UserInterfaceState.xcuserstate
MaterialControls.xcworkspace/xcuserdata/Cameron.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
MaterialControls/MaterialControls.xcodeproj/project.xcworkspace/xcuserdata/Cameron.xcuserdatad/UserInterfaceState.xcuserstate
MaterialControls/MaterialControls.xcodeproj/xcuserdata/Cameron.xcuserdatad/xcschemes/MaterialControls.xcscheme
MaterialControls/MaterialControls.xcodeproj/xcuserdata/Cameron.xcuserdatad/xcschemes/xcschememanagement.plist
